@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars and styling for iPad POS */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
  overscroll-behavior-y: contain; /* Prevents pull to refresh on mobile */
}

/* Make elements not selectable on POS screen to feel like native app */
.select-none {
  user-select: none;
  -webkit-user-select: none;
}
